ilw-breadcrumbs {
    a {
        color: var(--ilw-link--color);
    }
    a:visited {
        color: var(--ilw-link--visited-color);
    }
    a:hover {
        color: var(--ilw-link--focused-color);
    }
    a:focus {
        color: var(--ilw-link--focus-color);
        background-color: var(--ilw-link--focus-background-color);
        outline: var(--ilw-link--focus-outline);
    }
}
